.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .contact .headerContainerLeft {
    flex: 40%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .contact .headerContainerLeft img{
    max-height: 75%;
    max-width: 75%;
  }
  
  .headerContainerLeft h1 {
    justify-content: left;
    align-items: left;
    font-size: 80px;
    height: 60px;
    font-weight: 50;
    color: black;
    white-space: nowrap;
  }
  
  .headerContainerLeft p {
    padding: 0;
    font-size: 30px;
    font-weight: lighter;
    color: black;
    white-space: nowrap;
  }

  .contact .headerContainerRight {
    flex: 60%;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    margin-right: 100px;
  }

  .contact .headerContainerRight .introParagraph, .personalParagraph {
    padding: 0;
    font-size: 40px;
    font-weight: lighter;
    color: black;
  }
  
  /*.headerContainerLeft button {
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 50px;
    width: 180px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .headerContainerLeft button:hover {
    background-color: #07090a;
    cursor: pointer;
    transition: 0.3s ease-in;
  }*/
  
  @media only screen and (max-width: 650px) {
    .contact {
      justify-content: center;
      align-items: center;
    }
    .headerContainerLeft h1,
    .headerContainerLeft p {
    }
  
    .headerContainerLeft {
      margin-left: 0px;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #121619;
      color: white;
    }
  
    .headerContainerLeft h1 {
      font-size: 40px;
      height: 30px;
      color: white;
    }
  
    .headerContainerLeft p {
      font-size: 30px;
      color: white;
    }
  
    .headerContainerLeft button {
      background-color: white;
      color: #121619;
      margin-bottom: 30px;
    }
  
    .headerContainerLeft button:hover {
      background-color: rgb(225, 225, 225);
      color: #121619;
    }
  }